
.divprincipal {
  background-color: rgba(128, 128, 128, 0.671);
  height: 300px;
  width: 500px;
  border-radius: 10px; 
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tittle {
  background-color: black;
  height: 50px;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  color: white;
}

.pcontainer {
  display: flex;
  text-align: center;
margin-top: 50px;

}

.buttondiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}